<h1>Liste des articles</h1>


<% if @articles.count < 1 %>
  <h3>Il n'y a pas encore d'articles</h3>

  <% else %>
  <% @articles.each do |article| %>

      <strong>Titre : </strong><%= article.title %> |
      <%= link_to 'Lire', article_path(article) %>
  <% if logged_in? && current_user.email == 'admin@kotechine.fr' %>
      | <%= link_to 'Modifier', edit_article_path(article) %> |
      <%= link_to 'Supprimer', article_path(article),
              method: :delete,
              data: { confirm: 'Etes-vous sur ?' }%>
    <% end %>
    <% end %>

  <% end %>
<% if logged_in? && current_user.email == 'admin@kotechine.fr' %>
<br><%= link_to 'Nouvel article', new_article_path %>
<% end %>