<p>
  <h3><strong><%= @article.title %></strong></h3>
</p>

<p>
  <%= @article.text %>
</p>

<p>
  Ecrit le : <%= @article.created_at.day %>/<%= @article.created_at.month %>/<%= @article.created_at.year %>
</p>

<% if logged_in? && current_user.email == 'admin@kotechine.fr' %>
<%= link_to 'Modifier', edit_article_path(@article) %> |
  <% end %>
<%= link_to 'Retour', articles_path %>



