<p id="notice"><%= notice %></p>

<h3>
  <%= @event.name %>
</h3>

<p>
  <strong>Date de début:</strong>
  <%= @event.startDate %>
</p>

<p>
  <strong>Date de fin:</strong>
  <%= @event.endDate %>
</p>

<p>
  <strong>Lieu:</strong>
  <%= @event.eventPlace %>
</p>



<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>


<% if @event.comments.any? %>
<h5>Commentaire :</h5>
<%= render @event.comments %>
  <% else %>
  <p>Pas de commentaire</p>
<% end %>

<% if logged_in? %>
<h5>Ajouter un commentaire:</h5>
<%= render 'comments/form' %>
<% end %>
