<p id="notice"><%= notice %></p>

<h3>
  <%= @event.name %>
</h3>

<p>
  <strong>Date de début:</strong>
  <%= @event.startDate %>
</p>

<p>
  <strong>Date de fin:</strong>
  <%= @event.endDate %>
</p>

<p>
  <strong>Lieu:</strong>
  <%= @event.eventPlace %>
</p>

<% if logged_in? %>
  <%= link_to 'Participer', participer_event_path(@event) %> |
  <% end %>




<% if logged_in? && current_user.email == 'admin@kotechine.fr' %>
<%= link_to 'Edit', edit_event_path(@event) %> |
  <% end %>
<%= link_to 'Back', events_path %>

<% if @event.users.any? %>
<h3>Participants :</h3>
<ul>
  <% @event.users.each do |e| %>
    <li> <%= e.username %></li>
  <% end %>
</ul>
  <% end %>


<% if @event.comments.any? %>
  <% if @event.comments.count > 1 %>
<h5>Commentaires :</h5>
    <% else %>
    <h5>Commentaire :</h5>
<% end %>
    <%= render @event.comments %>
  <% else %>
  <p>Pas de commentaire</p>
<% end %>

<% if logged_in? %>
<h5>Ajouter un commentaire:</h5>
<%= render 'comments/form' %>
<% end %>